{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Upgrade Lumbung</title>
{% endblock meta %}

{% block content %}
<h2>UPGRADE LUMBUNG</h2>
<form action="/transaksi-upgrade-lumbung/upgrade/" method="POST">
    {% csrf_token %}
    <p>Level Lumbung: {{ lumbung_level }} --> {{ lumbung_next_level }}</p>
    <p>Kapasitas Lumbung: {{ lumbung_k_maks }} --> {{ lumbung_next_k_maks }}</p>
    <p>Biaya Upgrade: 200</p>
    </br>
    </br>
    <button type="submit">UPGRADE</button>
</form>
    
{% endblock content %}