{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Transaksi Upgrade Lumbung</title>
{% endblock meta %}

{% block content %}
<h1>List Transaksi UPGRADE LUMBUNG</h1>
<table>
    <tr>
        <th>Email Pengguna</th>
        <th>Waktu Upgrade</th>
    </tr>
    {% for transaksi in transaksis %}
    <tr>
        <td>{{ transaksi.email }}</td>
        <td>{{ transaksi.waktu }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock content %}
