{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Transaksi Pembelian Koin</title>
{% endblock meta %}

{% block content %}
<h2>FORM TRANSAKSI PEMBELIAN KOIN</h2>
<form  method="POST" action="/transaksi-pembelian-koin/buy/{{ id }}">
    {% csrf_token %}
    {{form.as_p}}
</br><button type="submit">BELI</button>
</form>
{% endblock content %}