{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Display Transaksi Pembelian Koin</title>
{% endblock meta %}

{% block content %}
<h1>List Transaksi Pembelian Koin</h1>
<table>
    <tr>
        <th>Email Pengguna</th>
        <th>Waktu Pembelian</th>
        <th>Jumlah</th>
        <th>Cara Pembayaran</th>
        <th>Paket Koin</th>
        <th>Total Biaya</th>
    </tr>
    {% for transaksi in transaksis %}
    <tr>
        <td>{{ transaksi.email }}</td>
        <td>{{ transaksi.waktu }}</td>
        <td>{{ transaksi.jumlah }}</td>
        <td>{{ transaksi.cara_pembayaran }}</td>
        <td>{{ transaksi.paket_koin }}</td>
        <td>{{ transaksi.total_biaya }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock content %}