<html>

<head>
<title>Form Buat Pesanan</title>
</head>

<body>
    <h1>Form Buat Pesanan</h1>
    <div class='dropdown'>
        <nav>
            <ul>
                <li><a href='/home/admin/'>Home</a></li>
                <li><a>Lumbung</a>
                    <ul>
                        <li><a href='lumbung/'>Lihat Isi Lumbung</a></li>
                        <li><a href='#'>List Transaksi Upgrade Lumbung</a></li>
                    </ul>
                </li>
                <li><a>Koin</a>
                    <ul>
                        <li><a href='#'>Buat Paket Koin</a></li>
                        <li><a href='#'>List Paket Koin</a></li>
                        <li><a href='#'>List Transaksi Pembelian Koin</a></li>
                    </ul>
                </li>
                <li><a href='/aset'>Aset</a>
                    <ul>
                        <li><a href='/aset/buat-aset'>Buat Aset</a></li>
                        <li><a href='/aset/list-aset'>List Aset</a></li>
                        <li><a href='#'>Buat Hewan Menghasilkan Produk Hewan</a></li>
                        <li><a href='#'>List Hewan Menghasilkan Produk Hewan</a></li>
                        <li><a href='#'>Buat Bibit Menghasilkan Panen</a></li>
                        <li><a href='#'>List Bibit Menghasilkan Panen</a></li>
                    </ul>
                </li>
                <li><a href='/koleksi-aset'>Koleksi Aset</a>
                    <ul>
                        <li><a href='/koleksi-aset/list-koleksi-aset'>List Koleksi Aset</a></li>
                        <li><a href='/koleksi-aset/list-transaksi-pembelian-aset'>List Transaksi Pembelian Aset</a></li>
                    </ul>
                </li>
                <li><a>Produk</a>
                    <ul>
                        <li><a href='../../produk/admin/create'>Buat Produk</a></li>
                        <li><a href='../../produk/admin/read'>List Produk</a></li>
                        <li><a href='#'>Buat Produksi</a></li>
                        <li><a href='../../produksi/admin/read'>List Produksi</a></li>
                    </ul>
                </li>
                <li><a>Histori Produksi</a>
                    <ul>
                        <li><a href='/histori-hewan/admin/read/'>List Histori Produksi Hewan</a></li>
                        <li><a href='#'>List Histori Produksi Tanaman</a></li>
                        <li><a href='../../histori-hewan/admin/read'>List Histori Produksi Makanan</a></li>
                    </ul>
                </li>
                <li><a>Pesanan</a>
                    <ul>
                        <li><a href='/pesanan/admin/create/'>Buat Pesanan</a></li>
                        <li><a href='/pesanan/admin/read'>List Pesanan</a></li>
                        <li><a href='/histori-penjualan/admin/'>List Histori Penjualan</a></li>
                    </ul>
                </li>
                <li><a href='logout/'>Logout</a></li>
            </ul>
        </nav>    
    </div>  

    <h3>Form Buat Pesanan</h3>
    
    <form method='post'>
        {% csrf_token %}
    
        <input type='text' name='id_pesanan' placeholder='id_pesanan'><br>
        <input type='text' name='nama_pesanan' placeholder='nama_pesanan'><br>
        <input type='text' name='jenis_pesanan' placeholder='jenis_pesanan'><br>
        
        <p>Detail Pesanan:</p>

        <table border = '1' cellpadding = '5' cellspacing = '5'>
            <thead>
                <td>Nama Produk</td>
                <td>Jumlah Produksi</td>
                <td><button>+</button></td>
            </thead>
            <tbody>
                <td>
                    <select name='nama_produk' placeholder='nama_produk'>
                    <option value="">-</option>
                    {% for i in produk %}
                        <option value="{{i.nama}}">{{i.nama}}</option>
                    {% endfor %}       
                    </select>
                </td>
                <td><input type='number' name='jumlah1' placeholder='jumlah1'></td>
                <td></td>
            </tbody>
        </table>
        <br>
        <input type='hidden' value='count'> 
        <input type='submit'> 
    </form>
    <script type="text/javascript">
        let btn = document.querySelector("button");
        let tbody = document.querySelector("tbody");
        let table = document.querySelector("table");
        let count = 1;

        function onClick(e) {
            e.preventDefault();

            let template = `
                    <tr>
                        <td>
                            <select name='nama_produk' placeholder='nama_produk'>
                            <option value="">-</option>
                            {% for i in produk %}
                                <option value="{{i.nama}}">{{i.nama}}</option>
                            {% endfor %}       
                            </select>
                        </td>
                        <td><input type='number' name='jumlah' placeholder='jumlah'></td>
                        <td><button class="deleteBtn">X</button></td>
                    </tr>`;

            tbody.innerHTML += template;
            count ++;
        }  

        function onDelete(e) {
            if (!e.target.classList.contains("deleteBtn")) {
                return;
            }

            let xBtn = e.target;
            xBtn.closest("tr").remove();
        }

        btn.addEventListener("click", onClick);
        table.addEventListener("click", onDelete);
    </script>
</body>

</html>