<html>

<head>
<title>List Pesanan</title>
</head>

<body>
    <h1>List Pesanan</h1>
    <div class='dropdown'>
        <nav>
            <ul>
                <li><a href='/home/admin/'>Home</a></li>
                <li><a>Lumbung</a>
                    <ul>
                        <li><a href='lumbung/'>Lihat Isi Lumbung</a></li>
                        <li><a href='#'>List Transaksi Upgrade Lumbung</a></li>
                    </ul>
                </li>
                <li><a>Koin</a>
                    <ul>
                        <li><a href='#'>Buat Paket Koin</a></li>
                        <li><a href='#'>List Paket Koin</a></li>
                        <li><a href='#'>List Transaksi Pembelian Koin</a></li>
                    </ul>
                </li>
                <li><a href='/aset'>Aset</a>
                    <ul>
                        <li><a href='/aset/buat-aset'>Buat Aset</a></li>
                        <li><a href='/aset/list-aset'>List Aset</a></li>
                        <li><a href='#'>Buat Hewan Menghasilkan Produk Hewan</a></li>
                        <li><a href='#'>List Hewan Menghasilkan Produk Hewan</a></li>
                        <li><a href='#'>Buat Bibit Menghasilkan Panen</a></li>
                        <li><a href='#'>List Bibit Menghasilkan Panen</a></li>
                    </ul>
                </li>
                <li><a href='/koleksi-aset'>Koleksi Aset</a>
                    <ul>
                        <li><a href='/koleksi-aset/list-koleksi-aset'>List Koleksi Aset</a></li>
                        <li><a href='/koleksi-aset/list-transaksi-pembelian-aset'>List Transaksi Pembelian Aset</a></li>
                    </ul>
                </li>
                <li><a>Produk</a>
                    <ul>
                        <li><a href='../../produk/admin/create'>Buat Produk</a></li>
                        <li><a href='../../produk/admin/read'>List Produk</a></li>
                        <li><a href='#'>Buat Produksi</a></li>
                        <li><a href='../../produksi/admin/read'>List Produksi</a></li>
                    </ul>
                </li>
                <li><a>Histori Produksi</a>
                    <ul>
                        <li><a href='/histori-hewan/admin/read/'>List Histori Produksi Hewan</a></li>
                        <li><a href='#'>List Histori Produksi Tanaman</a></li>
                        <li><a href='../../histori-hewan/admin/read'>List Histori Produksi Makanan</a></li>
                    </ul>
                </li>
                <li><a>Pesanan</a>
                    <ul>
                        <li><a href='/pesanan/admin/create/'>Buat Pesanan</a></li>
                        <li><a href='/pesanan/admin/read'>List Pesanan</a></li>
                        <li><a href='/histori-penjualan/admin/'>List Histori Penjualan</a></li>
                    </ul>
                </li>
                <li><a href='logout/'>Logout</a></li>
            </ul>
        </nav>    
    </div>  

    <h3>List Pesanan</h3>
        <table border = '1' cellpadding = '5' cellspacing = '5'>
            <thead>
                <td>ID Pesanan</td>
                <td>Jenis Pesanan</td>
                <td>Nama Pesanan</td>
                <td>Total Koin</td>
                <td>Status</td>
                <td>Action</td>
            </thead>
            <tbody>
                {% for i in pesanan %}

                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.jenis}}</td>
                    <td>{{i.nama}}</td>
                    <td>{{i.total}}</td>
                    <td>{{i.status}}</td>
                    <td><a href="#">[Detail]</a><br><a href="#">[Update]</a><br><a href="#">[Delete]</a></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

</body>

</html>