{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Produksi Hewan Pengguna</title>
{% endblock meta %}

{% block content %}
<div class='dropdown'>
    <nav>
        <ul>
            <li><a href='/home/pengguna/'>Home</a></li>
            <li><a>Lumbung</a>
                <ul>
                    <li><a href='lumbung/'>Lihat Isi Lumbung</a></li>
                    <li><a href='#'>Upgrade Lumbung</a></li>
                    <li><a href='#'>List Transaksi Upgrade Lumbung</a></li>
                </ul>
            </li>
            <li><a>Koin</a>
                <ul>
                    <li><a href='#'>List Paket Koin</a></li>
                    <li><a href='#'>List Transaksi Pembelian Koin</a></li>
                </ul>
            </li>
            <li><a href='/aset'>Aset</a>
                <ul>
                    <li><a href='/aset/list-aset'>List Aset</a></li>
                    <li><a href='#'>List Hewan Menghasilkan Produk Hewan</a></li>
                    <li><a href='#'>List Bibit Menghasilkan Panen</a></li>
                </ul>
            </li>
            <li><a href='/koleksi-aset'>Koleksi Aset</a>
                <ul>
                    <li><a href='/koleksi-aset/list-koleksi-aset'>List Koleksi Aset</a></li>
                    <li><a href='/koleksi-aset/buat-transaksi-pembelian-aset'>Buat Transaksi Pembelian Aset</a></li>
                    <li><a href='/koleksi-aset/list-transaksi-pembelian-aset'>List Transaksi Pembelian Aset</a></li>
                </ul>
            </li>
            <li><a>Produk</a>
                <ul>
                    <li><a href='../../produk/pengguna/read'>List Produk</a></li>
                    <li><a href='../../produksi/pengguna/read'>List Produksi</a></li>
                </ul>
            </li>
            <li><a>Proses Produksi</a>
                <ul>
                    <li><a href='/histori-hewan/pengguna/create/'>Produksi Hewan</a></li>
                    <li><a href='/histori-hewan/pengguna/read/'>List Histori Produksi Hewan</a></li>
                    <li><a href='#'>Produksi Tanaman</a></li>
                    <li><a href='#'>List Histori Produksi Tanaman</a></li>
                    <li><a href='#'>Produksi Produk Makanan</a></li>
                    <li><a href='../../histori-hewan/pengguna/read'>List Histori Produksi Makanan</a></li>
                </ul>
            </li>
            <li><a>Pesanan</a>
                <ul>
                    <li><a href='/pesanan/pengguna/'>List Pesanan</a></li>
                    <li><a href='/histori-penjualan/pengguna/'>List Histori Penjualan</a></li>
                </ul>
            </li>
            <li><a href='logout/'>Logout</a></li>
        </ul>
    </nav>    
</div>

<h2>Histori Hewan</h2>

<table border = '1' cellpadding = '5' cellspacing = '5'>
  <td>Waktu Awal</td>
  <td>Waktu Selesai</td>
  <td>Jumlah</td>
  <td>XP</td>
  <td>Hewan</td>

  {% for i in histori_produksi %}

  <tr>
      <td>{{i.waktu_awal}}</td>
      <td>{{i.waktu_selesai}}</td>
      <td>{{i.jumlah}}</td>
      <td>{{i.xp}}</td>
      <td>{{i.nama}}</td>
  </tr>

  {% endfor %}

</table>
{% endblock content %}
