{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Produksi Hewan Admin</title>
{% endblock meta %}

{% block content %}
<div class='dropdown'>
  <nav>
      <ul>
          <li><a href='home/admin/'>Home</a></li>
          <li><a>Lumbung</a>
              <ul>
                  <li><a href='lumbung/'>Lihat Isi Lumbung</a></li>
                  <li><a href='#'>List Transaksi Upgrade Lumbung</a></li>
              </ul>
          </li>
          <li><a>Koin</a>
              <ul>
                  <li><a href='#'>Buat Paket Koin</a></li>
                  <li><a href='#'>List Paket Koin</a></li>
                  <li><a href='#'>List Transaksi Pembelian Koin</a></li>
              </ul>
          </li>
          <li><a>Aset</a>
              <ul>
                  <li><a href='#'>Buat Aset</a></li>
                  <li><a href='#'>List Aset</a></li>
                  <li><a href='#'>Buat Hewan Menghasilkan Produk Hewan</a></li>
                  <li><a href='#'>List Hewan Menghasilkan Produk Hewan</a></li>
                  <li><a href='#'>Buat Bibit Menghasilkan Panen</a></li>
                  <li><a href='#'>List Bibit Menghasilkan Panen</a></li>
              </ul>
          </li>
          <li><a>Koleksi Aset</a>
              <ul>
                  <li><a href='#'>List Koleksi Aset</a></li>
                  <li><a href='#'>List Transaksi Pembelian Aset</a></li>
              </ul>
          </li>
          <li><a>Produk</a>
              <ul>
                  <li><a href='#'>Buat Produk</a></li>
                  <li><a href='#'>List Produk</a></li>
                  <li><a href='#'>Buat Produksi</a></li>
                  <li><a href='#'>List Produksi</a></li>
              </ul>
          </li>
          <li><a>Histori Produksi</a>
              <ul>
                  <li><a href='#'>List Histori Produksi Hewan</a></li>
                  <li><a href='#'>List Histori Produksi Tanaman</a></li>
                  <li><a href='#'>List Histori Produksi Makanan</a></li>
              </ul>
          </li>
          <li><a>Pesanan</a>
              <ul>
                  <li><a href='#'>Buat Pesanan</a></li>
                  <li><a href='/pesanan/pengguna/'>List Pesanan</a></li>
                  <li><a href='/histori-penjualan/admin/'>List Histori Penjualan</a></li>
              </ul>
          </li>
          <li><a href='logout/'>Logout</a></li>
      </ul>
  </nav>    
</div>

<h2>Histori Hewan</h2>

<table border = '1' cellpadding = '5' cellspacing = '5'>
  <td>Email Pengguna</td>
  <td>Waktu Awal</td>
  <td>Waktu Selesai</td>
  <td>Jumlah</td>
  <td>XP</td>
  <td>Hewan</td>

  {% for i in histori_produksi %}

  <tr>
      <td>{{i.email}}</td>
      <td>{{i.waktu_awal}}</td>
      <td>{{i.waktu_selesai}}</td>
      <td>{{i.jumlah}}</td>
      <td>{{i.xp}}</td>
      <td>{{i.nama}}</td>
  </tr>

  {% endfor %}

</table>
{% endblock content %}
