{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Produksi Hewan</title>
{% endblock meta %}

{% block content %}
  <h1>Form Produksi Hewan</h1>

  <div class='dropdown'>
    <nav>
        <ul>
            <li><a href='/home/pengguna/'>Home</a></li>
            <li><a>Lumbung</a>
                <ul>
                    <li><a href='lumbung/'>Lihat Isi Lumbung</a></li>
                    <li><a href='#'>Upgrade Lumbung</a></li>
                    <li><a href='#'>List Transaksi Upgrade Lumbung</a></li>
                </ul>
            </li>
            <li><a>Koin</a>
                <ul>
                    <li><a href='#'>List Paket Koin</a></li>
                    <li><a href='#'>List Transaksi Pembelian Koin</a></li>
                </ul>
            </li>
            <li><a href='/aset'>Aset</a>
                <ul>
                    <li><a href='/aset/list-aset'>List Aset</a></li>
                    <li><a href='#'>List Hewan Menghasilkan Produk Hewan</a></li>
                    <li><a href='#'>List Bibit Menghasilkan Panen</a></li>
                </ul>
            </li>
            <li><a href='/koleksi-aset'>Koleksi Aset</a>
                <ul>
                    <li><a href='/koleksi-aset/list-koleksi-aset'>List Koleksi Aset</a></li>
                    <li><a href='/koleksi-aset/buat-transaksi-pembelian-aset'>Buat Transaksi Pembelian Aset</a></li>
                    <li><a href='/koleksi-aset/list-transaksi-pembelian-aset'>List Transaksi Pembelian Aset</a></li>
                </ul>
            </li>
            <li><a>Produk</a>
                <ul>
                    <li><a href='../../produk/pengguna/read'>List Produk</a></li>
                    <li><a href='../../produksi/pengguna/read'>List Produksi</a></li>
                </ul>
            </li>
            <li><a>Proses Produksi</a>
                <ul>
                    <li><a href='/histori-hewan/pengguna/create/'>Produksi Hewan</a></li>
                    <li><a href='/histori-hewan/pengguna/read/'>List Histori Produksi Hewan</a></li>
                    <li><a href='#'>Produksi Tanaman</a></li>
                    <li><a href='#'>List Histori Produksi Tanaman</a></li>
                    <li><a href='#'>Produksi Produk Makanan</a></li>
                    <li><a href='../../histori-hewan/pengguna/read'>List Histori Produksi Makanan</a></li>
                </ul>
            </li>
            <li><a>Pesanan</a>
                <ul>
                    <li><a href='/pesanan/pengguna/'>List Pesanan</a></li>
                    <li><a href='/histori-penjualan/pengguna/'>List Histori Penjualan</a></li>
                </ul>
            </li>
            <li><a href='logout/'>Logout</a></li>
        </ul>
    </nav>    
</div>

  <form method='post'>
    {% csrf_token %}

    <select name='id_hewan' placeholder='id_hewan'>
        <option value="">-</option>
        {% for i in id_hewan %}
            <option value="{{i.id_produk}}">{{i.id_produk}}</option>
        {% endfor %}
          
    </select><br>  
    <input type='number' name='jumlah' placeholder='jumlah'><br>
    <input type='submit'>

</form>

  
{% endblock content %}
