{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Produk List Admin</title>
{% endblock meta %}

{% block content %}
  <h1>Produk List Admin</h1>
  <table>
    <tr>
      <th>No</th>
      <th>ID</th>
      <th>Jenis</th>
      <th>Nama</th>
      <th>Harga Jual</th>
      <th>Sifat Produk</th>
      <th class="action-header">Action</th>
    </tr>
    {% if data %}
      {% for row in data %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{row.0}}</td>
          <td>{{row.4}}</td>
          <td>{{row.1}}</td>
          <td>{{row.2}}</td>
          <td>{{row.3}}</td>
          <td>
            <a href="{% url 'produk_update' row.0 row.1 row.4 %}">
              <button type="submit">[Update]</button><br>
            </a>
            <a href="{% url 'hapusProduk' row.0 row.4 %}">
            {% if row.0 not in delete %}
              <button type="button">[Delete]</button>
            {% else %}
              <button type="button" disabled>[Delete]</button>
            {% endif %}
            </a>
          </td>
        </tr>   
      {% endfor %}
    {% endif %}
  </table>
{% endblock content %}
