{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Produk</title>
{% endblock meta %}

{% block content %}
<h1>Form Update Produk</h1>
<form method='post'>
    {% csrf_token %}
    <label for="Jenis produk">Jenis Produk: </label>
    <input type="text" name="jenis_produk" placeholder="jenis_produk" disabled value="{{jenis_produk}}"><br>
    <label for="Nama">Nama: </label>
    <input type='text' name='nama' placeholder='nama' maxlength='50' disabled value="{{nama}}"><br>
    <label for="Harga Jual">Harga Jual: </label>
    <input type='number' name='harga_jual' placeholder='harga_jual' required><br>
    <label for="Sifat Produk">Sifat Produk: </label>
    <input type='text' name='sifat_produk' placeholder='sifat_produk' maxlength='20' required><br>
    <input type='submit' value='Simpan'>

</form>
{% endblock content %}
