{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Produk List Pengguna</title>
{% endblock meta %}

{% block content %}
  <h1>Produk List Pengguna</h1>
  <table>
    <tr>
      <th>No</th>
      <th>Jenis</th>
      <th>Nama</th>
      <th>Harga Jual</th>
      <th>Sifat Produk</th>
    </tr>
    {% if data %}
      {% for row in data %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{row.4}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
      </tr>
      {% endfor %}
    {% endif %}
  </table>
{% endblock content %}
