{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Produk</title>
{% endblock meta %}

{% block content %}
<h1>Form Buat Produk</h1>
<form method='post'>
    {% csrf_token %}
    <label for="Jenis produk">Jenis Produk: </label>
    <select name="jenis_produk" placeholder="jenis_produk">
      <option value="hasil_panen">Hasil Panen</option>
      <option value="produk_hewan">Produk Hewan</option>
      <option value="produk_makanan">Produk Makanan</option>
    </select><br>
    <input type='text' name='nama' placeholder='nama' maxlength='50' required><br>
    <input type='number' name='harga_jual' placeholder='harga_jual' required><br>
    <input type='text' name='sifat_produk' placeholder='sifat_produk' maxlength='20' required><br>
    <input type='submit' value='Tambahkan'>

</form>
{% endblock content %}
