<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MENU BUAT TRANSAKSI PEMBELIAN ASET</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <label for="Detail Aset">Detail Aset</label>
        <select name="Detail Aset" id="Detail Aset" required>
            {% for row in rows %}
                <option value="{{ row.id }}">
                    {% if row.id in dekorasi %}
                        Dekorasi
                    {% endif %}
                    {% if row.id in bibit_tanaman %}
                        Bibit Tanaman
                    {% endif %}
                    {% if row.id in kandang %}
                        Kandang
                    {% endif %}
                    {% if row.id in hewan %}
                        Hewan
                    {% endif %}
                    {% if row.id in alat_produksi %}
                        Alat Produksi
                    {% endif %}
                    {% if row.id in petak_sawah %}
                        Petak Sawah
                    {% endif %} - {{ row.nama }} - {{ row.harga_beli }}
                </option>
            {% endfor %}
        </select><br>
        <input type="text" name="Jumlah" placeholder="Jumlah" required>
        <br>
        <input type='submit'>
    </form>
</body>
</html>