<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>KOLEKSI ASET</h1>
    <nav>
        <ul>
            <li><a href='list-koleksi-aset'>List Koleksi Aset</a></li>
            {% if role == "Pengguna" %}
            <li><a href='buat-transaksi-pembelian-aset'>Buat Transaksi Pembelian Aset</a></li>
            {% endif %}
            <li><a href='list-transaksi-pembelian-aset'>List Transaksi Pembelian Aset</a></li>
        </ul>
    </nav>
</body>
</html>