<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>Email Pengguna</td>
            <td>Waktu Pembelian</td>
            <td>Jenis</td>
            <td>Nama Aset</td>
            <td>Jumlah</td>
            <td>Total Harga</td>
        </tr>
        {% for row in rows %}
        <tr>
            <td>
                {{ row.email }}
            </td>
            <td>
                {{ row.waktu }}
            </td>
            <td>
                {% if row.id in dekorasi %}
                    Dekorasi
                {% endif %}
                {% if row.id in bibit_tanaman %}
                    Bibit Tanaman
                {% endif %}
                {% if row.id in kandang %}
                    Kandang
                {% endif %}
                {% if row.id in hewan %}
                    Hewan
                {% endif %}
                {% if row.id in alat_produksi %}
                    Alat Produksi
                {% endif %}
                {% if row.id in petak_sawah %}
                    Petak Sawah
                {% endif %}
            </td>
            <td>
                {{ row.nama }}
            </td>
            <td>
                {{ row.jumlah }}
            </td>
            <td>
                {{ row.harga_beli }}
            </td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>