<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
</head>
<body>
    <table>

        <tr>
            {% if role == "Admin" %}
            <td>email pengguna</td>
            {% endif %}
            <td>id aset</td>
            <td>nama</td>
            <td>minimum level</td>
            <td>harga beli</td>
            {% if jenis_aset == "Dekorasi" %}
            <td>harga jual</td>
            {% endif %}
        
            {% if jenis_aset == "Bibit Tanaman" %}
            <td>durasi panen</td>
            {% endif %}

            {% if jenis_aset == "Kandang" %}
            <td>kapasitas maks</td>
            <td>jenis hewan</td>
            {% endif %}

            {% if jenis_aset == "Hewan" %}
            <td>durasi produk</td>
            <td>id kandang</td>
            {% endif %}

            {% if jenis_aset == "Alat Produksi" %}
            <td>kapasitas maks</td>
            {% endif %}

            {% if jenis_aset == "Petak Sawah" %}
            <td>jenis_tanaman</td>
            {% endif %}
        </tr>

        {% for row in rows %}

        <tr>
            {% if role == "Admin" %}
            <td>{{ row.id_koleksi_aset }}</td>
            {% endif %}
            <td>{{ row.id_aset }}</td>
            <td>{{ row.nama }}</td>
            <td>{{ row.minimum_level }}</td>
            <td>{{ row.harga_beli }}</td>

            {% if jenis_aset == "Dekorasi" %}
            <td>{{ row.harga_jual }}</td>
            {% endif %}
        
            {% if jenis_aset == "Bibit Tanaman" %}
            <td>{{ row.durasi_panen }}</td>
            {% endif %}

            {% if jenis_aset == "Kandang" %}
            <td>{{ row.kapasitas_maks }}</td>
            <td>{{ row.jenis_hewan }}</td>
            {% endif %}

            {% if jenis_aset == "Hewan" %}
            <td>{{ row.durasi_produk }}</td>
            <td>{{ row.id_kandang }}</td>
            {% endif %}

            {% if jenis_aset == "Alat Produksi" %}
            <td>{{ row.kapasitas_maks }}</td>
            {% endif %}

            {% if jenis_aset == "Petak Sawah" %}
            <td>{{ row.jenis_tanaman }}</td>
            {% endif %}
        </tr>

        {% endfor %}
    </table>
</body>
</html>