{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
    table, th, td {
      border: 1px solid black;
  }
  </style>
  <title>Histori Tanaman</title>
</head>

<body>
    <h2>FORM HISTORI TANAMAN</h2>
    <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
        </br><button type="submit">PRODUKSI</button>
    </form>
</body>

<script>
    var jumlah = document.getElementById('id_jumlah');
	jumlah.addEventListener('keyup', update_xp);
	jumlah.addEventListener('change', update_xp);
    
    function update_xp() {
        document.getElementById('id_xp').value = jumlah.value * 5;
    }
</script>

</html>