{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Histori Produksi Tanaman</title>
{% endblock meta %}

{% block content %}
<h1>List Histori Produksi Tanaman</h1>
<table>
    <tr>
        <th>Email Pengguna</th>
        <th>Waktu Awal</th>
        <th>Waktu Selesai</th>
        <th>Jumlah</th>
        <th>XP</th>
        <th>Bibit Tanaman</th>
    </tr>
    {% for histori in historis %}
    <tr>
        <td>{{ histori.email }}</td>
        <td>{{ histori.waktu_awal }}</td>
        <td>{{ histori.waktu_selesai }}</td>
        <td>{{ histori.jumlah }}</td>
        <td>{{ histori.xp }}</td>
        <td>{{ histori.nama }}</td>
    </tr>
    {% endfor %}
    
</table>
{% endblock content %}