<html>

<head>
<title>Form Registrasi Admin</title>
</head>

<body>
    <h1>Form Registrasi Admin</h1>
    <form method='post'>
        {% csrf_token %}

        <input type='text' name='email' placeholder='email'><br>
        <input type='text' name='password' placeholder='password'><br>
        <input type='submit'>

    </form>
</body>

</html>