<html>

<head>
<title>Form Registrasi Pengguna</title>
</head>

<body>
    <h1>Form Registrasi Pengguna</h1>
    <form method='post'>
        {% csrf_token %}

        <input type='text' name='email' placeholder='email'><br>
        <input type='text' name='password' placeholder='password'><br>
        <input type='text' name='nama_area_pertanian' placeholder='nama_area_pertanian'><br>
        <input type='submit'>

    </form>
</body>

</html>