{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Histori Produk List Admin</title>
{% endblock meta %}

{% block content %}
  <h1>Histori Produksi List Admin</h1>
  <table>
    <tr>
      <th>Email</th>
      <th>Waktu Awal</th>
      <th>Waktu Selesai</th>
      <th>Jumlah</th>
      <th>XP</th>
      <th>Produk Makanan</th>
      <th>Alat Produksi</th>
    </tr>
    {% if data %}
      {% for row in data %}
      <tr>
        <td>{{row.email}}</td>
        <td>{{row.waktu_awal}}</td>
        <td>{{row.waktu_selesai}}</td>
        <td>{{row.jumlah}}</td>
        <td>{{row.xp}}</td>
        <td>{{row.id}}</td>
        <td>{{row.alat}}</td>
      </tr>
      {% endfor %}
    {% endif %}
  </table>
{% endblock content %}
