{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Paket Koin</title>
{% endblock meta %}

{% block content %}
<h2>FORM BUAT PAKET KOIN</h2>
<form action="/paket-koin/create/" method="POST">
    {% csrf_token %}
    {{form.as_p}}
</br><button type="submit">BUAT</button>
</form>
{% endblock content %}