{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
    table, th, td {
      border: 1px solid black;
  }
  </style>
  <title>List Paket Koin</title>
</head>

<body>
    <h1>Display Paket Koin</h1>
    <table>
        <tr>
            <th>Paket Koin</th>
            <th>Harga</th>
            <th>Action</th>
        </tr>
        {% for paket_koin in paket_koins %}
        <tr>
            <td>{{ paket_koin.jumlah_koin }}</td>
            <td>{{ paket_koin.harga }}</td>
            
            {% if tipe == 'Admin' %}
            <td>
                <a href="/paket-koin/update/{{ paket_koin.jumlah_koin }}">
                    <button >UPDATE</button>
                </a>
                {% if paket_koin.paket_koin == None %}
                <a href="">
                    <button onclick="deletePaketKoin({{ paket_koin.jumlah_koin }})">DELETE</button>
                </a>
                {% endif %}
            </td> 
            {% elif tipe == 'Pengguna' %}
            <td>
                <a href="/transaksi-pembelian-koin/buy/{{ paket_koin.jumlah_koin }}">
                    <button >BELI</button>
                </a>
            </td>
            {% endif %}
    
        </tr>
        {% endfor %}
    
    </table>
</body>

<script>
    const deletePaketKoin = (id) => {
        var xhttp = new XMLHttpRequest();
        var data = {
            payload: id
        }
        var json = JSON.stringify(data);
        xhttp.open("POST", "/paket-koin/delete/");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
        alert(`${id} Berhasil di delete!`);
    }
</script>

</html>
