{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Paket Koin</title>
{% endblock meta %}

{% block content %}
    <h2>FORM UPDATE PAKET KOIN</h2>
    <form action="/paket-koin/update/{{ id }}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
    </br><button type="submit">SIMPAN</button>
    </form>
{% endblock content %}