<html>

<head>
<title>Lumbung</title>
</head>

<body>
    <h1>Detail Lumbung Pengguna</h1>
    <div class='dropdown'>
        <nav>
            <ul>
                <li><a href='home/'>Home</a></li>
                <li><a>Lumbung</a>
                    <ul>
                        <li><a href='#'>Lihat Isi Lumbung</a></li>
                        <li><a href='/transaksi-upgrade-lumbung/upgrade/'>Upgrade Lumbung</a></li>
                        <li><a href='/transaksi-upgrade-lumbung/read/'>List Transaksi Upgrade Lumbung</a></li>
                    </ul>
                </li>
                <li><a>Koin</a>
                    <ul>
                        <li><a href='/paket-koin/read/'>List Paket Koin</a></li>
                        <li><a href='/transaksi-pembelian-koin/read/'>List Transaksi Pembelian Koin</a></li>
                    </ul>
                </li>
                <li><a>Aset</a>
                    <ul>
                        <li><a href='#'>List Aset</a></li>
                        <li><a href='#'>List Hewan Menghasilkan Produk Hewan</a></li>
                        <li><a href='#'>List Bibit Menghasilkan Panen</a></li>
                    </ul>
                </li>
                <li><a>Koleksi Aset</a>
                    <ul>
                        <li><a href='#'>List Koleksi Aset</a></li>
                        <li><a href='#'>Buat Transaksi Pembelian Aset</a></li>
                        <li><a href='#'>List Transaksi Pembelian Aset</a></li>
                    </ul>
                </li>
                <li><a>Produk</a>
                    <ul>
                        <li><a href='#'>List Produk</a></li>
                        <li><a href='#'>List Produksi</a></li>
                    </ul>
                </li>
                <li><a>Proses Produksi</a>
                    <ul>
                        <li><a href='#'>Produksi Hewan</a></li>
                        <li><a href='#'>List Histori Produksi Hewan</a></li>
                        <li><a href='/histori-tanaman/create/'>Produksi Tanaman</a></li>
                        <li><a href='/histori-tanaman/read/'>List Histori Produksi Tanaman</a></li>
                        <li><a href='#'>Produksi Produk Makanan</a></li>
                        <li><a href='#'>List Histori Produksi Makanan</a></li>
                    </ul>
                </li>
                <li><a>Pesanan</a>
                    <ul>
                        <li><a href='#'>List Pesanan</a></li>
                        <li><a href='#'>List Histori Penjualan</a></li>
                    </ul>
                </li>
                <li><a href='logout/'>Logout</a></li>
            </ul>
        </nav>    
    </div>  
    
    <h3>Level : {{ lumbung.level }}</h3>
    <h3>Kapasitas : {{ lumbung.total }}/{{ lumbung.kapasitas_maksimal }}</h3>

    <h3>Tabel Produk Hasil Panen</h3>
    <table border = '1' cellpadding = '5' cellspacing = '5'>
        <td>ID Produk</td>
        <td>Nama Produk</td>
        <td>Harga Jual</td>
        <td>Sifat Produk</td>
        <td>Jumlah Produk</td>

        {% for i in hasil_panen %}

        <tr>
            <td>{{i.id}}</td>
            <td>{{i.nama}}</td>
            <td>{{i.harga_jual}}</td>
            <td>{{i.sifat_produk}}</td>
            <td>1</td>
        </tr>

        {% endfor %}

    </table>

    <h3>Tabel Produk Hewan</h3>
    <table border = '1' cellpadding = '5' cellspacing = '5'>
        <td>ID Produk</td>
        <td>Nama Produk</td>
        <td>Harga Jual</td>
        <td>Sifat Produk</td>
        <td>Jumlah Produk</td>

        {% for i in produk_hewan %}

        <tr>
            <td>{{i.id}}</td>
            <td>{{i.nama}}</td>
            <td>{{i.harga_jual}}</td>
            <td>{{i.sifat_produk}}</td>
            <td>1</td>
        </tr>

        {% endfor %}

    </table>

    <h3>Tabel Produk Makanan</h3>
    <table border = '1' cellpadding = '5' cellspacing = '5'>
        <td>ID Produk</td>
        <td>Nama Produk</td>
        <td>Harga Jual</td>
        <td>Sifat Produk</td>
        <td>Jumlah Produk</td>

        {% for i in produk_makanan %}

        <tr>
            <td>{{i.id}}</td>
            <td>{{i.nama}}</td>
            <td>{{i.harga_jual}}</td>
            <td>{{i.sifat_produk}}</td>
            <td>1</td>
        </tr>

        {% endfor %}

    </table>
</body>

</html>