<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ASET</h1>
    <nav>
        <ul>
            {% if role == "Admin" %}
            <li><a href='/aset/buat-aset'>Buat Aset</a></li>
            {% endif %}
            <li><a href='/aset/list-aset'>List Aset</a></li>
        </ul>
    </nav>
</body>
</html>