<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form Update Aset {{ jenis_aset }}</h1>
    {% if jenis_aset == "Dekorasi" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="{{ row.id }}" disabled><br>
        <input type="text" name="Nama" value="{{ row.nama }}" disabled><br>
        <input type="text" name="Minimum Level" value="{{ row.minimum_level }} " required><br>
        <input type="text" name="Harga Beli" value="{{ row.harga_beli }}" required><br>
        <input type="text" name="Harga Jual" value="{{ row.harga_jual }}" required><br>
        <input type='submit'>
    </form>
    {% endif %}

    {% if jenis_aset == "Bibit Tanaman" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="{{ row.id }}" disabled><br>
        <input type="text" name="Nama" value="{{ row.nama }}" disabled><br>
        <input type="text" name="Minimum Level" value="{{ row.minimum_level }}" required><br>
        <input type="text" name="Harga Beli" value="{{ row.harga_beli }}" required><br>
        <input type="text" name="Durasi Panen" value="{{ row.durasi_panen }}" required><br>
        <input type='submit'>
    </form>
    {% endif %}

    {% if jenis_aset == "Kandang" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="{{ row.id }}" disabled><br>
        <input type="text" name="Nama" value="{{ row.nama }}" disabled><br>
        <input type="text" name="Minimum Level" value="{{ row.minimum_level }}" required><br>
        <input type="text" name="Harga Beli" value="{{ row.harga_beli }}" required><br>
        <input type="text" name="Kapasitas Maks" value="{{ row.kapasitas_maks }}" required><br>
        <input type="text" name="Jenis Hewan" value="{{ row.jenis_hewan }}" disabled><br>
        <input type='submit'>
    </form>
    {% endif %}

    {% if jenis_aset == "Hewan" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="{{ row.id }}" disabled><br>
        <input type="text" name="Nama" value="{{ row.nama }}" disabled><br>
        <input type="text" name="Minimum Level" value="{{ row.minimum_level }}" required><br>
        <input type="text" name="Harga Beli" value="{{ row.harga_beli }}" required><br>
        <input type="text" name="Durasi Produksi" value="{{ row.durasi_produksi }}" required><br>
        <input type="text" name="ID Kandang" value="{{ row.id_kandang }}" disabled><br>
        <input type='submit'>
    </form>
    {% endif %}

    {% if jenis_aset == "Alat Produksi" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="{{ row.id }}" disabled><br>
        <input type="text" name="Nama" value="{{ row.nama }}" disabled><br>
        <input type="text" name="Minimum Level" value="{{ row.minimum_level }}" required><br>
        <input type="text" name="Harga Beli" value="{{ row.harga_beli }}" required><br>
        <input type="text" name="Kapasitas Maks" value="{{ row.kapasitas_maks }}" required><br>
        <input type='submit'>
    </form>
    {% endif %}

    {% if jenis_aset == "Petak Sawah" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="{{ row.id }}" disabled><br>
        <input type="text" name="Nama" value="{{ row.nama }}" disabled><br>
        <input type="text" name="Minimum Level" value="{{ row.minimum_level }}" required><br>
        <input type="text" name="Harga Beli" value="{{ row.harga_beli }}" required><br>
        <label for="Jenis Tanaman">Jenis Tanaman</label>
        <select name="Jenis Tanaman" id="Jenis Tanaman" required>
            <option value="{{ row.jenis_tanaman }}">{{ row.jenis_tanaman }}</option>
            {% for tanaman in jenis_tanaman %}
                {% if tanaman.nama != row.jenis_tanaman %}
                    <option value="{{ tanaman.nama }}">{{ tanaman.nama }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <input type='submit'>
    </form>
    {% endif %}
</body>
</html>