<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form Buat Aset {{ jenis_aset }}</h1>
    {% if jenis_aset == "Dekorasi" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="DK{{id}}" disabled><br>
        <input type="text" name="Nama" placeholder="Nama" required><br>
        <input type="text" name="Minimum Level" placeholder="Minimum Level" required><br>
        <input type="text" name="Harga Beli" placeholder="Harga Beli" required><br>
        <input type="text" name="Harga Jual" placeholder="Harga Jual" required><br>
        <input type='submit'>
    </form>
    {% endif %}

    {% if jenis_aset == "Bibit Tanaman" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="BT{{id}}" disabled><br>
        <input type="text" name="Nama" placeholder="Nama" required><br>
        <input type="text" name="Minimum Level" placeholder="Minimum Level" required><br>
        <input type="text" name="Harga Beli" placeholder="Harga Beli" required><br>
        <input type="text" name="Durasi Panen" placeholder="Durasi Panen" required><br>
        <input type='submit'>
    </form>
    {% endif %}

    {% if jenis_aset == "Kandang" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="KD{{id}}" disabled><br>
        <input type="text" name="Nama" placeholder="Nama" required><br>
        <input type="text" name="Minimum Level" placeholder="Minimum Level" required><br>
        <input type="text" name="Harga Beli" placeholder="Harga Beli" required><br>
        <input type="text" name="Kapasitas Maks" placeholder="Kapasitas Maks" required><br>
        <input type="text" name="Jenis Hewan" placeholder="Jenis Hewan" required><br>
        <input type='submit'>
    </form>
    {% endif %}

    {% if jenis_aset == "Hewan" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="HW{{id}}" disabled><br>
        <input type="text" name="Nama" placeholder="Nama" required><br>
        <input type="text" name="Minimum Level" placeholder="Minimum Level" required><br>
        <input type="text" name="Harga Beli" placeholder="Harga Beli" required><br>
        <input type="text" name="Durasi Produksi" placeholder="Durasi Produksi" required><br>
        <input type='submit'>
    </form>
    {% endif %}

    {% if jenis_aset == "Alat Produksi" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="AP{{id}}" disabled><br>
        <input type="text" name="Nama" placeholder="Nama" required><br>
        <input type="text" name="Minimum Level" placeholder="Minimum Level" required><br>
        <input type="text" name="Harga Beli" placeholder="Harga Beli" required><br>
        <input type="text" name="Kapasitas Maks" placeholder="Kapasitas Maks" required><br>
        <input type='submit'>
    </form>
    {% endif %}

    {% if jenis_aset == "Petak Sawah" %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="ID" value="PS{{id}}" disabled><br>
        <input type="text" name="Nama" placeholder="Nama" required><br>
        <input type="text" name="Minimum Level" placeholder="Minimum Level" required><br>
        <input type="text" name="Harga Beli" placeholder="Harga Beli" required><br>
        <label for="Jenis Tanaman">Jenis Tanaman</label>
        <select name="Jenis Tanaman" id="Jenis Tanaman" required>
            {% for tanaman in jenis_tanaman %}
            <option value="{{ tanaman.nama }}">{{ tanaman.nama }}</option>
            {% endfor %}
        </select>
        <br>
        <input type='submit'>
    </form>
    {% endif %}
</body>
</html>