<html>

<head>
<title>Form Login</title>
</head>

<body>
    <h1>Form Login</h1>
    <h3>Belum Punya Akun?<a href='../../register'>Register</a></h3>
    <form method='post'>
        {% csrf_token %}

        <input type='text' name='email' placeholder='email'><br>
        <input type='text' name='password' placeholder='password'><br>
        <input type='submit'>

    </form>
</body>

</html>