<html>

<head>
<title>Homepage Admin</title>
</head>

<body>
    <h1>Homepage Admin</h1>
    <div class='dropdown'>
        <nav>
            <ul>
                <li><a href='/home/admin/'>Home</a></li>
                <li><a>Lumbung</a>
                    <ul>
                        <li><a href='lumbung/'>Lihat Isi Lumbung</a></li>
                        <li><a href='/transaksi-upgrade-lumbung/read/'>List Transaksi Upgrade Lumbung</a></li>
                    </ul>
                </li>
                <li><a>Koin</a>
                    <ul>
                        <li><a href='/paket-koin/create/'>Buat Paket Koin</a></li>
                        <li><a href='/paket-koin/read/'>List Paket Koin</a></li>
                        <li><a href='/transaksi-pembelian-koin/read/'>List Transaksi Pembelian Koin</a></li>
                    </ul>
                </li>
                <li><a href='/aset'>Aset</a>
                    <ul>
                        <li><a href='/aset/buat-aset'>Buat Aset</a></li>
                        <li><a href='/aset/list-aset'>List Aset</a></li>
                        <li><a href='#'>Buat Hewan Menghasilkan Produk Hewan</a></li>
                        <li><a href='#'>List Hewan Menghasilkan Produk Hewan</a></li>
                        <li><a href='#'>Buat Bibit Menghasilkan Panen</a></li>
                        <li><a href='#'>List Bibit Menghasilkan Panen</a></li>
                    </ul>
                </li>
                <li><a href='/koleksi-aset'>Koleksi Aset</a>
                    <ul>
                        <li><a href='/koleksi-aset/list-koleksi-aset'>List Koleksi Aset</a></li>
                        <li><a href='/koleksi-aset/list-transaksi-pembelian-aset'>List Transaksi Pembelian Aset</a></li>
                    </ul>
                </li>
                <li><a>Produk</a>
                    <ul>
                        <li><a href='../../produk/admin/create'>Buat Produk</a></li>
                        <li><a href='../../produk/admin/read'>List Produk</a></li>
                        <li><a href='../../produksi/admin/create'>Buat Produksi</a></li>
                        <li><a href='../../produksi/admin/read'>List Produksi</a></li>
                    </ul>
                </li>
                <li><a>Histori Produksi</a>
                    <ul>
                        <li><a href='/histori-hewan/admin/read/'>List Histori Produksi Hewan</a></li>
                        <li><a href='/histori-tanaman/read/'>List Histori Produksi Tanaman</a></li>
                        <li><a href='../../histori-makanan/admin/read'>List Histori Produksi Makanan</a></li>
                    </ul>
                </li>
                <li><a>Pesanan</a>
                    <ul>
                        <li><a href='/pesanan/admin/create/'>Buat Pesanan</a></li>
                        <li><a href='/pesanan/admin/read'>List Pesanan</a></li>
                        <li><a href='/histori-penjualan/admin/'>List Histori Penjualan</a></li>
                    </ul>
                </li>
                <li><a href='logout/'>Logout</a></li>
            </ul>
        </nav>    
    </div>  
    
    <h3>Email : {{session.email}}</h3>
</body>

</html>