<html>

<head>
<title>Homepage Pengguna</title>
</head>

<body>
    <h1>Homepage Pengguna</h1>
    <div class='dropdown'>
        <nav>
            <ul>
                <li><a href='/home/pengguna/'>Home</a></li>
                <li><a>Lumbung</a>
                    <ul>
                        <li><a href='lumbung/'>Lihat Isi Lumbung</a></li>
                        <li><a href='/transaksi-upgrade-lumbung/upgrade/'>Upgrade Lumbung</a></li>
                        <li><a href='/transaksi-upgrade-lumbung/read/'>List Transaksi Upgrade Lumbung</a></li>
                    </ul>
                </li>
                <li><a>Koin</a>
                    <ul>
                        <li><a href='/paket-koin/read/'>List Paket Koin</a></li>
                        <li><a href='/transaksi-pembelian-koin/read/'>List Transaksi Pembelian Koin</a></li>
                    </ul>
                </li>
                <li><a href='/aset'>Aset</a>
                    <ul>
                        <li><a href='/aset/list-aset'>List Aset</a></li>
                        <li><a href='#'>List Hewan Menghasilkan Produk Hewan</a></li>
                        <li><a href='#'>List Bibit Menghasilkan Panen</a></li>
                    </ul>
                </li>
                <li><a href='/koleksi-aset'>Koleksi Aset</a>
                    <ul>
                        <li><a href='/koleksi-aset/list-koleksi-aset'>List Koleksi Aset</a></li>
                        <li><a href='/koleksi-aset/buat-transaksi-pembelian-aset'>Buat Transaksi Pembelian Aset</a></li>
                        <li><a href='/koleksi-aset/list-transaksi-pembelian-aset'>List Transaksi Pembelian Aset</a></li>
                    </ul>
                </li>
                <li><a>Produk</a>
                    <ul>
                        <li><a href='../../produk/pengguna/read'>List Produk</a></li>
                        <li><a href='../../produksi/pengguna/read'>List Produksi</a></li>
                    </ul>
                </li>
                <li><a>Proses Produksi</a>
                    <ul>
                        <li><a href='/histori-hewan/pengguna/create/'>Produksi Hewan</a></li>
                        <li><a href='/histori-hewan/pengguna/read/'>List Histori Produksi Hewan</a></li>
                        <li><a href='/histori-tanaman/create/'>Produksi Tanaman</a></li>
                        <li><a href='/histori-tanaman/read/'>List Histori Produksi Tanaman</a></li>
                        <li><a href='#'>Produksi Produk Makanan</a></li>
                        <li><a href='../../histori-makanan/pengguna/read'>List Histori Produksi Makanan</a></li>
                    </ul>
                </li>
                <li><a>Pesanan</a>
                    <ul>
                        <li><a href='/pesanan/pengguna/'>List Pesanan</a></li>
                        <li><a href='/histori-penjualan/pengguna/'>List Histori Penjualan</a></li>
                    </ul>
                </li>
                <li><a href='logout/'>Logout</a></li>
            </ul>
        </nav>    
    </div>  
    
    <h3>Email : {{email}}</h3>
    <h3>Nama area pertanian : {{nama_area}}</h3>
    <h3>XP : {{xp}}</h3>
    <h3>Koin : {{koin}}</h3>
    <h3>Level : {{level}}</h3>
</body>

</html>