{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Produksi List Admin</title>
{% endblock meta %}

{% block content %}
  <h1>Produksi List Admin</h1>
  <table>
    <tr>
      <th>Produk Makanan</th>
      <th>Alat Produksi</th>
      <th>Durasi</th>
      <th>Jumlah Unit Hasil</th>
      <th>Action</th>
    </tr>
    {% if data %}
      {% for row in data %}
      <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>
          <a href="{% url 'produksi_detail' row.0 row.1 row.2 row.3 row.4 %}">
            <button type="submit">[Detail]</button><br>
          </a>
          <a href="{% url 'produksi_update' row.0 row.1 row.4 %}">
            <button type="submit">[Update]</button><br>
          </a>
          <a href="{% url 'hapusProduksi' row.4 %}">
          {% if row.4 not in delete %}
            <button type="button">[Delete]</button>
          {% else %}
            <button type="button" disabled>[Delete]</button>
          {% endif %}
          </a>
        </td>
      </tr>
      {% endfor %}
    {% endif %}
  </table>
{% endblock content %}
