{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail Produksi</title>
{% endblock meta %}

{% block content %}
<h1>Detail Produksi</h1>
<label for="Nama Produk Makanan">Nama Produk Makanan: {{nama_makanan}}</label><br>
<label for="Alat Produksi">Alat Produksi: {{nama_alat}}</label><br>
<label for="Durasi">Durasi Produksi (dalam menit): {{durasi}}</label><br>
<label for="Jumlah">Jumlah Produk yang Dihasilkan: {{jumlah_hasil}}</label><br>
<label for="Daftar Bahan">Daftar Bahan yang Diperlukan</label><br>
<table>
    <tr>
        <th>Bahan</th>
        <th>Jumlah</th>
    </tr>
    {% if data %}
        {% for row in data %}
        <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
        </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock content %}
