{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Produksi</title>
{% endblock meta %}

{% block content %}
<h1>Form Buat Produksi</h1>
<form method='post'>
    {% csrf_token %}
    <label for="Produk makanan">Nama Produk Makanan: </label>
    <select name="produk_makanan" placeholder="pilih" required>
      {% if produk_makanan %}
        {% for row in produk_makanan %}
          <option value="{{row.id}}">{{row.nama}}</option>
        {% endfor %}
      {% endif %}
    </select><br>
    <label for="Alat produksi">Alat produksi: </label>
    <select name="alat_produksi" placeholder="pilih" required>
      {% if alat_produksi %}
        {% for row in alat_produksi %}
          <option value="{{row.id_aset}}">{{row.nama}}</option>
        {% endfor %}
      {% endif %}
    </select><br>
    <label for="durasi">Durasi (dalam menit): </label>
      <input type='number' name='durasi' placeholder='Menit' required><br>
    <label for="jumlah_produk_dihasilkan">Jumlah Produk yang dihasilkan: </label>
      <input type='number' name='jumlah_produk_dihasilkan' placeholder='Jumlah Produk' required><br>
    <b>Daftar Bahan yang Dibutuhkan: </b><br>
    <label for="Bahan">Bahan: </label>
    <div class="add-bahan">
      <div class="bahan-1">
        <select name="bahan" placeholder="pilih" required>
          {% if produk %}
            {% for row in produk %}
              <option value="{{row.id}}">{{row.nama}}</option>
            {% endfor %}
          {% endif %}
        </select>
        <label for="jumlah_produk_dibutuhkan">Jumlah: </label>
          <input type='number' name='jumlah_produk_dibutuhkan' placeholder="Jumlah" required>
        <button type="button" class="btn-bahan" onclick="addBahan();">Tambah</button><button type="button" class="btn-hapus" id="1">Hapus</button><br>
      </div>
    </div>
    <input type='submit' value='Tambahkan'>

</form>
<script>
  var count=2;
  function addBahan() {
    $(".add-bahan").append(addNewRow(count));
    count++;
    console.log(count);
  }

  function hapusBahan(id) {
    console.log($(this).prop('id'));
    var no_bahan = "bahan-" + id;
    console.log(no_bahan);
    $("."+no_bahan).remove();
    // document.getElementById("1").remove();
    // console.log("heyheyhey")
  }
  // $(".btn-hapus").click(function(){
    // var no_bahan = "bahan-" + count
  //   $(".").append(addNewRow(count));
  //   count++;

  // });
  
  // function hapusBahan() {
  //   // var parents = $(this).parents();
  //   // console.log($(this));
  //   // $(parents).empty();
  //   $(this).closest("div").removeChildren();
  //   count--;
  //   console.log(count);
  // }

  function addNewRow(count){
    var newrow= '<div class="bahan-' + count + '">'+
    '<select name="bahan" placeholder="pilih" required>'+
        '{% if produk %}'+
          '{% for row in produk %}'+
            '<option value="{{row.id}}">{{row.nama}}</option>'+
          '{% endfor %}'+
        '{% endif %}'+
      '</select>'+
      '<label for="jumlah_produk_dibutuhkan">Jumlah: </label>'+
        '<input type="number" name="jumlah_produk_dibutuhkan" placeholder="Jumlah" required>'+
      '<button type="button" class="btn-bahan" onclick="addBahan();">Tambah</button><button type="button" class="btn-hapus" id="'+count+'"onclick="hapusBahan(this.id);">Hapus</button><br>'+
      '</div>';
    return newrow;
  }
</script>
{% endblock content %}
