{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Produksi</title>
{% endblock meta %}

{% block content %}
<h1>Update Produksi</h1>
<form id="my_form" method="post">
  {% csrf_token %}
    <label for="Nama Produk Makanan">Nama Produk Makanan:</label>
    <input type="text" name="nama_makanan" placeholder="nama_makanan" disabled value="{{nama_makanan}}"><br>
    <label for="Alat Produksi">Alat Produksi: </label>
    <input type='text' name='nama_alat' placeholder='nama_alat' disabled value="{{nama_alat}}"><br>
    <label for="Durasi">Durasi Produksi (dalam menit):</label>
    <input type='number' name='durasi' placeholder='durasi' required><br>
    <label for="Jumlah">Jumlah Produk yang Dihasilkan:</label>
    <input type='number' name='jumlah_hasil' placeholder='jumlah_hasil' required><br>
</form>
<label for="Daftar Bahan">Daftar Bahan yang Diperlukan</label><br>
<table>
    <tr>
        <th>Bahan</th>
        <th>Jumlah</th>
    </tr>
    {% if data %}
        {% for row in data %}
        <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
        </tr>
        {% endfor %}
    {% endif %}
</table>
<input type='submit' form="my_form" value='Simpan'>
{% endblock content %}
